.header {
	height: 10rem;
	display: flex;
	align-items: center;
	&__flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		padding-right: 2rem;
	}
	&__nav {
		height: 10rem;display: flex;align-items: center;
		&-ul {
			display: flex;
			align-items: center;
			height: 100%;
			@include respond(px-991) {
				display: none;
			}
		}
	}
	&__nav-li,
	&__dropdown {
		position: relative;
		cursor: pointer;
		transition: .3s all;
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 1.5rem;
		@include respond (tab-land) {
			padding: 1rem;
		}
		&:not(:last-child):hover {
			transition: .3s all;
			background-color: var(--secondary);
		}
		&:not(:last-child):hover .header__nav-a::after {
			transition: .5s all;
			width: 100%;
		}
	}
	&__nav-a {
		color: var(--grey);
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1.4rem;
		&:hover {
			color: var(--grey);
		}
		&::after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 0%;
			height: .4rem;
			background-color: var(--grey);
		}
	}
	&__dropdown {
		position: relative;
		transition: .5s all;
		z-index: 9;
		&:hover .header__dropdown-item {
			top: 100%;
			transition: all .8s;
			opacity: 1;
			visibility: visible;
		}
		&-item {
			position: absolute;
			z-index: -1;
			padding: 1rem;
			top: 80%;
			left: 0;
			width: 20rem;
			transition: .8s all;
			display: flex;
			flex-direction: column;
			gap: 2rem;	
			opacity: 0;
			visibility: hidden;
			background-color: var(--white);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
			border-radius: var(--radius-3);
			a {
				font-weight: 400;
				color: var(--black);
				&:hover {
					color: var(--primary);
				}
			}
		}
	}
}